  h1 {
      text-align: center;
      color: #6d6875;
  }
  body {
      background-color:#ffcdb2;
}
input {
    background-color: #b5838d;
    text-align: center;
    height: 50px;
    height: 50px;
    font-weight: 900;
    color: #000000;
    font-size: 20px;
    margin: center;

}
select {
    background-color: #b5838d;
    font-weight: 900;
    color: #000000;
}
button {
    background-color: #b5838d;
    font-weight: 900;
    color: #000000;
}

#container
{
    width:80%;
    margin: 0 auto;
}